<div style="background-color: gray; border-radius: 4px; width: 800px; height: 414px;">
  <div style="width: 700px; background-color: white; border-radius: 6px; position: absolute; left: 55px; top: 40px;">
    <div style="padding: 20px">
      <p style="margin:20px 0;">
        <%= I18n.t('mail.recovery_password.content.hello', name: @user.name).html_safe %>
      </p>

      <p style="margin:20px 0;">
        <%= I18n.t('mail.recovery_password.content.we_received_an_solicitation') %>
        <%= I18n.t('mail.recovery_password.content.if_you_dont_ignore') %>
      </p>

      <p style="margin:20px 0;">
        <%= I18n.t('mail.recovery_password.content.use_this_password') %>
        <%= I18n.t('mail.recovery_password.content.validation', hours: User::VALID_PERIOD_OF_TEMPORARY_PASSWORD*24).html_safe %>
      </p>

      <p style="text-align:center;font-size:22px;padding:12px 18px;color:#fff;background-color: #23222d;width: 120px;margin:0 auto;">
        <%= @user.temporary_password %>
      </p>

      <p style="margin:20px 0;">
        <%= I18n.t('mail.recovery_password.content.change_your_password').html_safe %>
      </p>
    </div>
  </div>
</div>
